<%- include('includes/head') %>
<%- include('includes/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-lg-2 my-4"></div>
    <div class="col-lg-8">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Your contacts are below</p>

      <%- include('includes/messages.ejs') %>

      <div class="responsive-table">
        <table class="table my-3">
          <tr>
            <td>Athirson</td>
            <td>Silva</td>
            <td>+55 (11) 95760-7177</td>
            <td>Athirsonarceus@gmail.com</td>
          </tr>
          <tr>
            <td>Athirson</td>
            <td>Silva</td>
            <td>+55 (11) 95760-7177</td>
            <td>Athirsonarceus@gmail.com</td>
          </tr>
          <tr>
            <td>Athirson</td>
            <td>Silva</td>
            <td>+55 (11) 95760-7177</td>
            <td>Athirsonarceus@gmail.com</td>
          </tr>
          <tr>
            <td>Athirson</td>
            <td>Silva</td>
            <td>+55 (11) 95760-7177</td>
            <td>Athirsonarceus@gmail.com</td>
          </tr>
          <tr>
            <td>Athirson</td>
            <td>Silva</td>
            <td>+55 (11) 95760-7177</td>
            <td>Athirsonarceus@gmail.com</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
<%- include('includes/footer') %>